* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    p {
        font-size: 12px;
    }

    h4, h5, p, b, input, label {
        line-height: 25px;
    }

    font-family: arial,
    "Microsoft JhengHei",
    "微軟正黑體",
    sans-serif;

    hr {
        width: 85vw;
        height: 1px;
        // height: 1px;
        // border-radius: 100%;
        border: none;
        background-color: red;

    }
}

.container {
    @media (min-width: 768px) {
        width: 768px;
        margin: 0 auto;

        p {
            font-size: 16px;
        }
    }

    width: 100vw;

    .box {
        padding: 0 5%;
        width: 100%;
        margin-top: 30px;

        .float_right {
            display: flex;
            justify-content: right;
            align-items: flex-end;
        }

        &:not(:first-child):not(:nth-child(2)) {
            margin-top: 300px;
        }
    }
}

.box {
    .photo {
        margin: 0 auto;
        margin-top: 15px;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .left {
        width: 50%;
        margin-right: 15px;
    }

    .right {
        width: 50%;
    }

}


.display_flex {
    display: flex;
}

.middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin_top_20 {
    margin-top: 20px;
}

.margin_top_30 {
    margin-top: 30px;
}

.margin_top_35 {
    margin-top: 35px;
}

.margin_top_45 {
    margin-top: 45px;
}

.line_height_25 {
    line-height: 25px;
}